@import '@/assets/mixins/_colorMixins.scss';
@import '@/assets//mixins/_breakpoints.scss';

.btn {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  z-index: 1;
  transition: all 0.2s linear 0s;
  background-color: $bg-blue-light;
  cursor: pointer;
  border: 0;
  border-radius: 6px;
  &:hover {
    background-color: $bg-blue-dark;
  }

  &:disabled {
    background-color: $bg-gray-light-3 !important;
    cursor: not-allowed;
  }
  P {
    text-transform: uppercase;
  }

  stop {
    stop-color: #fff !important;
  }
}
