@import '@/assets/mixins/_colorMixins.scss';
@import '@/assets/mixins/_breakpoints.scss';

.select {
  display: grid;
  grid-template: auto / 30% 40%;
  align-items: center;
  padding: 0 15px;
  margin-bottom: 20px;
  width: 100%;

  select {
    opacity: 0;
    display: none;
  }

  input {
    user-select: none;
    pointer-events: none;
    position: relative;
    outline: none;
    background: $bg-blue-dark;
    color: $color-gray-darklight;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 48px;
    font-size: 1.5rem;
    border-bottom: 1px solid $color-gray-light3;
    &.initial {
      color: $color-gray-light3 !important;
    }
    &:focus {
      border-bottom: 1px solid $color-gray-darklight !important;
    }
  }
  &__arrow {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    user-select: none;
    pointer-events: none;
  }
  &.invalid {
    input,
    input:focus {
      border-bottom: 1px solid #f44336 !important;
      box-shadow: 0 1px 0 0 #f44336 !important;
    }
  }

  &__text {
    display: flex;
    p:last-child {
      padding-left: 5px !important;
    }
    p.hidden {
      opacity: 0;
    }
  }
  &.hidden {
    opacity: 0.5;
    pointer-events: none;
  }
  &__dd {
    position: absolute;
    top: 0;
    left: 0;

    li.default {
      cursor: default;
      p {
        color: $color-gray-light3 !important;
      }
    }
    li.check {
      background: $bg-gray-light-4 !important;
    }
  }

  @include breakpoint(onetwo) {
    &__icon {
      right: 0rem;
    }

    &__text {
      display: none;
      min-height: 18px;
      height: 3.5rem;

      &.show {
        display: block;
      }
    }
    label {
      position: absolute;
      top: -20px;
      left: 0;
      font-size: 1.2rem;
    }
    & {
      grid-template: auto / 1fr;
      align-items: center;
      padding: 0px;
      margin-bottom: 0px;
    }
    input {
      height: 3.5rem;
    }
  }
  @media screen and (max-width: 600px) {
    .input-other__text {
      p:last-child {
        padding-left: 0px !important;
      }
      p:first-child {
        padding-right: 10px !important;
      }
      p.hidden {
        display: none;
      }
    }
  }
}
