@import './mixins/_colorMixins.scss';
@import './components/_fonts.scss';

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: $global-fonts;
}

body {
  background: $bg-main;
  text-size-adjust: 100%;
}

body.lock {
  overflow: hidden;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:action {
  outline: none;
}

a:focus,
a:action {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: $global-fonts;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

html {
  font-size: 12px;
}

:root {
  scrollbar-color: $bg-blue-dark #fff;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: $bg-blue-dark;
}
::-webkit-scrollbar-track {
  background: #fff;
}

@media screen and (min-width: 280px) {
  html {
    font-size: calc(10px + 5 * (100vw - 280px) / 118);
  }
}

@media screen and (min-width: 398px) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 480px) {
  html {
    font-size: calc(9px + 5.25 * (100vw - 480px) / 273);
  }
}

@media screen and (min-width: 753px) {
  html {
    font-size: 14.25px;
  }
}

@media screen and (min-width: 760px) {
  html {
    font-size: calc(9px + 4 * (100vw - 760px) / 352);
  }
}

@media screen and (min-width: 1112px) {
  html {
    font-size: 13px;
  }
}

@media screen and (min-width: 1180px) {
  html {
    font-size: calc(10.5px + 3 * (100vw - 1180px) / 360);
  }
}

@media screen and (min-width: 1540px) {
  html {
    font-size: 13.5px;
  }
}

@media screen and (min-width: 1720px) {
  html {
    font-size: calc(12px + 1.5 * (100vw - 1720px) / 180);
  }
}

@media screen and (min-width: 1900px) {
  html {
    font-size: 13.5px;
  }
}
