/* border ====================== */

$border-infoblock: #d4d4d4;
$border-sidebar: #e0e0e0;

/*  background ====================== */

$bg-for-img: #0000006a;
$bg-blue-light: #0277bd;
$bg-blue-dark: #0d47a1;
$bg-gray: #292929;
$bg-gray-darklight: #424242;
$bg-gray-light-3: #d9d9d9;
$bg-gray-light-4: #f5f5f5;
$bg-gray-light-5: #e6e6e6;
$bg-bluegray: #0f0f1c;
$bg-bluegray-bright: #151623;
$bg-main: #fff;
$bg-main-premium: #cfd1e1;
$bg-premium-gray: #555;

/*  main colorts ===================== */

$color-main-paragraph: #fff;
$color-premium-gray: #555;
$color-gray-dark: #292929;
$color-gray-darklight: #424242;
$color-gray-light1: #828282;
$color-gray-light3: #d0d0d0;
$color-gray-light-4: #f5f5f5;
$color-gray-header3: #212121;

$color-white-darker: #d4d4d4;

$color-blue-dark: #0d47a1;
$color-blue-light: #0391c1;
